.input-group {
  > .custom-select:not(:last-child),
  > .form-control:not(:last-child),
  > .input-group-append:last-child > .input-group-text:not(:last-child),
  > .input-group-append:not(:last-child) > .btn,
  > .input-group-append:not(:last-child) > .input-group-text,
  > .input-group-prepend > .btn,
  > .input-group-prepend > .input-group-text,
  > .custom-file:not(:last-child) .custom-file-label {
    border-top-left-radius: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: 0;
  }

  > .custom-select:not(:first-child),
  > .form-control:not(:first-child),
  > .input-group-append > .btn,
  > .input-group-append > .input-group-text,
  > .input-group-prepend:first-child > .input-group-text:not(:first-child),
  > .input-group-prepend:not(:first-child) > .btn,
  > .input-group-prepend:not(:first-child) > .input-group-text,
  > .custom-file:not(:first-child) .custom-file-label {
    border-top-left-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: $border-radius;
  }

  > .input-group-prepend:first-child > .btn:not(:first-child),
  > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .input-group-append:last-child > .btn:first-child:not(:last-child):not(.dropdown-toggle),
  > .form-control:not(:last-child):not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .custom-file:not(:last-child) .custom-file-label,
  > .custom-file:not(:last-child) .custom-file-label::after {
    @include border-bottom-left-radius(0);
    @include border-top-left-radius(0);
  }

  > .input-group-prepend > .input-group-text {
    margin-left: -1px;
  }

  > .input-group-append > .input-group-text {
    margin-right: -1px;
  }
}

.form-check {
  padding-right: $form-check-input-gutter;
  padding-left: inherit;
}

.form-check-input {
  margin-right: $form-check-input-gutter * -1;
  margin-left: 0;
}

.form-check-inline {
  padding-right: 0;
  margin-right: 0;
  margin-left: $input-padding-x;

  .form-check-input {
    margin-right: 0;
    margin-left: .3125rem;
  }
}

.form-control.is-valid,
.was-validated .form-control:valid,
.form-control.is-invalid,
.was-validated .form-control:invalid {
  padding-right: $input-padding-x;
  padding-left: calc(1.5em + .75rem);
  background-position: left calc(.375em + .1875rem) center;
}

.custom-select.is-invalid,
.was-validated .custom-select:invalid {
  padding-right: $input-padding-x;
  padding-left: calc(.75em + 2.3125rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat left .75rem center / 8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center left 1.75rem / calc(.75em + .375rem) calc(.75em + .375rem);
}

.custom-select.is-valid,
.was-validated .custom-select:valid {
  padding-right: $input-padding-x;
  padding-left: calc(.75em + 2.3125rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat left .75rem center / 8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center left 1.75rem / calc(.75em + .375rem) calc(.75em + .375rem);
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid,
.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
  padding-right: $input-padding-x;
  padding-left: calc(1.5em + .75rem);
  background-position: top calc(.375em + .1875rem) left calc(.375em + .1875rem);
}

